<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}ENT3R GRAND PRIX{% endblock %}</title>
    </head>
    <body>

        <nav>
            <a href=" {% url  'pages_activities' %}">Aktiviteter</a>
            <a href="{% url  'pages_hiscore' %}">Highscore</a>
            <a href="{% url 'login' %}">Logg inn</a>
            <a href="{% url 'logout' %}">Logg ut</a>
            <a href="{% url 'password_change' %}">Endre Passord</a>
            
        </nav>

        {% block content %}

        {% endblock %}

        <hr>

        {% block footer %}
            {% if user.is_authenticated%}
            <div>Logget inn som: {{request.user.get_username}}</div>
            {% endif %}
        {% endblock %}

    </body>
</html>
