{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block css %}{% load static%} <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">{% endblock %}


{% block content %}
<div class="container">

    <h3>Ny aktivitet</h3>

    <form action="" method="post" class="post-form">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Legg til
        </button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
