{% extends "base.html" %}
{% block css %}{% load static%} <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <div class="my_score">Din score: {{ms.score}}</div>
    <h3 class="hiscore">Highscores for {{group}} </h3>

    {% for dict in ps %}
    <div class="hi{{forloop.counter}} row">
        <div class="col-md-1">
            {{forloop.counter}}
        </div>
        <div class="col-md-6">
            {{dict.user1.first_name}} & {{dict.user2.first_name}}
        </div>
        <div class="col-md-4">
            {{dict.user__groups__name|default_if_none:'' }}
        </div>
        <div class="col-md-1">
            {{dict.score}}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}


