{% extends "base.html"%}

{% block css %}{% load static%} <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">{% endblock %}
{% block content %}


<div class="container">
    <h3>Mine prestasjoner</h3>
    <div class="header-row row">
        <div class="col">
            Navn
        </div> <div class="col">
            Poeng
        </div>
        <div class="col">
            Tid registrert
        </div>
    </div> 
    {% for a in my_ach %}
    <div class="body-row row">
        <div class="col">
            {{a.activity.name |lower|capfirst}}
        </div>
        <div class="col">
            {{a.activity.points}}
        </div>
        <div class="col">
            {{ a.date_added  }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

